.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.title {
    margin: 0 0 12px 0;
}

.backdrop {
    position: absolute;
    inset: 0;
    background: rgb(6 35 189 / 35%);
    backdrop-filter: blur(2px);
    z-index: 0;
}

.modal-3d {
    position: fixed;
    top: 12px;
    right: 24px;
    background: #fff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.5),
        0 0 5px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: perspective(1000px) rotateX(-20deg) scale(0.5);
    transition: transform 1s ease, opacity 1s ease;
    z-index: 10;
    max-width: 50vw;

    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.overlay.show .modal-3d {
    transform: perspective(1000px) rotateX(7deg) scale(1);
    opacity: 1;
}

.modal-3d::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}